.contacts {
    padding: 80px 197px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.contacts-title {
    padding: 104.5px 0;
}

@media screen and (max-width: 992px) {
    .contacts {
        padding: 70px 100px;
    }

    .contacts-title {
        padding: 20px 0;
    }
}

@media screen and (max-width: 480px) {
    .contacts {
        padding: 57px 10px;
    }

    .contacts-title {
        padding: 18.5px 0;
    }
}