.card {
    display: flex;
    flex-direction: column;
    padding: 35px 40px;
    gap: 20px;
    
    height: 178px;
    width: 248px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.card-image {
    position: relative;
}

.card-image-circle {
    background-color: #E74040;
    height: 72px;
    width: 72px;
    border-radius: 50%;
}

.card-image img {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
}

.card-title {
    font-size: 16px;
}

.card-line {
    width: 50px;
    height: 2px;
    background-color: rgba(231, 64, 64, 1);
}

.card-text {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
}