@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid #000000;
    padding: 0 70px;
}

.header-logo {
    padding: 31px 0 25px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 59px;
}

.header-right-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #737373;
}

@media screen and (max-width: 992px) {
    header {
        padding: 0 30px;
    }

    .header-right {
        gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 0 10px;
    }

    .header-right {
        gap: 10px;
    }
}